<form [formGroup]="searchForm" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label for="roleId">როლი</label>
                <p-dropdown [options]="roles" placeholder="აირჩიეთ როლი" optionLabel="name" formControlName="roleId"
                            id="roleId"
                            [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="users"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [customSort]="true"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>სახელი</th>
            <th>გვარი</th>
            <th>პირადი ნომერი</th>
            <th>ტელეფონი</th>
            <th>ელ. ფოსტა</th>
            <th>როლი</th>
            <th width="50"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.personalNo}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles ? user.roles[0].name : ''}}</td>
            <td>
                <p-button icon="pi pi-check" (click)="selectUser(user)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
