<h3 class="first">ვალის დამატება</h3>
<form [formGroup]="addForm" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="debtDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">შექმნის თარიღი</label>
                <div class="p-col-12 p-md-4">
                    <p-calendar
                        formControlName="debtDate"
                        id="debtDate"
                        dateFormat="dd-mm-yy"
                        [showIcon]="true"
                        (onSelect)="getDebtComplexityTypeByDate($event)"
                        (blur)="checkValidity(addForm)"
                    ></p-calendar>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="incomingDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">შემოსვლის თარიღი</label>
                <div class="p-col-12 p-md-4">
                    <p-calendar
                        formControlName="incomingDate"
                        id="incomingDate"
                        dateFormat="dd-mm-yy"
                        [showIcon]="true"
                        (blur)="checkValidity(addForm)"></p-calendar>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="amount" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">თანხა</label>
                <div class="p-col-12 p-md-4">
                    <p-inputNumber
                        id="amount"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="5"
                        formControlName="amount"
                        (blur)="checkValidity(addForm)">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="courtFeeAmount" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">სასამართლო ბაჟი</label>
                <div class="p-col-12 p-md-4">
                    <p-inputNumber
                        id="courtFeeAmount"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="5"
                        formControlName="courtFeeAmount">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="fineAmount" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ჯარიმა</label>
                <div class="p-col-12 p-md-4">
                    <p-inputNumber
                        id="fineAmount"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="5"
                        formControlName="fineAmount">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="amount" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">სესხის ტიპი</label>
                <div class="p-col-12 p-md-4">
                    <p-dropdown
                        [options]="complexityTypes"
                        placeholder="სესხის ტიპი"
                        [showClear]="true"
                        optionLabel="nameEn"
                        formControlName="complexityType"
                        (blur)="checkValidity(addForm)"></p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="percent" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">პროცენტი</label>
                <div class="p-col-12 p-md-4">
                    <p-inputNumber
                        id="percent"
                        [min]="0" [max]="100"
                        [showButtons]="true"
                        suffix=" %"
                        formControlName="percent"
                        (blur)="checkValidity(addForm)">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="borrowerPerson" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">მსესხებელი</label>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <input type="text" id="borrowerPerson" pInputText formControlName="borrowerPerson"
                               [readOnly]="true"
                               (blur)="checkValidity(addForm)">
                        <input type="hidden" formControlName="borrowerPersonId">
                        <span class="p-inputgroup-button">
                            <p-button label="ძებნა" icon="pi pi-search"
                                      (click)="openSearchPersonModal(1, 'borrowerPersonId')"></p-button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="loanPerson" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">გამსეხესხებელი</label>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <input type="text" id="loanPerson" pInputText formControlName="loanPerson" [readOnly]="true"
                               (blur)="checkValidity(addForm)">
                        <input type="hidden" formControlName="loanPersonId">
                        <span class="p-inputgroup-button">
                            <p-button label="ძებნა" icon="pi pi-search"
                                      (click)="openSearchPersonModal(2, 'loanPersonId')"></p-button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="user" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">კრედიტ ოფიცერი</label>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <input type="text" id="user" pInputText formControlName="user" [readOnly]="true">
                        <input type="hidden" formControlName="userId">
                        <span class="p-inputgroup-button">
                            <p-button label="ძებნა" icon="pi pi-search"
                                      (click)="openSearchUser()"></p-button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <p-button label="შენახვა" icon="pi pi-save"
                  (click)="saveDebt()"></p-button>
    </div>
</form>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displaySearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-persons-form
            #SearchPersonsFormComponent
            (onSelectPerson)="selectPerson($event)"></app-search-persons-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUser" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="selectUser($event)"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>
