<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label>კრედიტ ოფიცერი</label>
                <div class="p-inputgroup">
                    <input type="text" id="user" pInputText formControlName="user" [readOnly]="true">
                    <input type="hidden" formControlName="userId">
                    <span class="p-inputgroup-button" *ngIf="!hasRight( 'ROLE_მხოლოდ საკუთარი ვალების ნახვა')">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchUserForSearch()"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-borrowerPerson">მსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-borrowerPerson" pInputText formControlName="borrowerPerson"
                           [readOnly]="true">
                    <input type="hidden" formControlName="borrowerPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(1, 'search-borrowerPersonId')"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-loanPerson">გამსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-loanPerson" pInputText formControlName="loanPerson" [readOnly]="true">
                    <input type="hidden" formControlName="loanPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(2, 'search-loanPersonId')"></p-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="resetSearchForm()"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="debts.debts"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="debts.count"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.limit"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]='"სულ - თანხა: "+(debts.amount?debts.amount:0)+", ჩანაწერი: {totalRecords} "'
         dataKey="id"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center" width="50">N</th>
            <th style="text-align: center">ბოლო კომენტარის თარიღი</th>
            <th style="text-align: center">შეპირების თარიღი</th>
            <th style="text-align: center">დაკავშირების თარიღი</th>
            <th style="text-align: center">ტიპი</th>
            <th style="text-align: center">თანხა</th>
            <th style="text-align: center">სტატუსი</th>
            <th style="text-align: center">მსესხებელი</th>
            <th style="text-align: center">გამსესხებელი</th>
            <th style="text-align: center">კრედიტ ოფიცერი</th>
            <th style="text-align: center">სტატუსი</th>
            <th width="100"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-debt>
        <tr [ngClass]="{'row-danger': debt.lastNextContactDate && stringToDate(debt.lastNextContactDate).getTime() <= now.getTime()}">
            <td>
                <p-tableCheckbox [value]="debt"></p-tableCheckbox>
            </td>
            <td style="text-align: center; word-break:break-all;">{{debt.id}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.lastCommentDate | dateFormat}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.lastPromiseDate | dateFormat}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.lastNextContactDate | dateFormat}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.debtComplexityType?.name}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.amount}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.fullyPaid ? "განულებული" : "მიმდინარე"}}</td>
            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="debt.borrower">
                    <ng-template [ngIf]="debt.borrower.personType.id==1" [ngIfElse]="borrowerOrg">
                        {{debt.borrower.person.firstName + " " + debt.borrower.person.lastName + " (" + debt.borrower.person.personalNo + ")"}}
                    </ng-template>
                    <ng-template #borrowerOrg>
                        {{debt.borrower.organization.organizationName + " (" + debt.borrower.organization.organizationCode + ")"}}
                    </ng-template>
                </ng-template>
            </td>

            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="debt.loaner">
                    <ng-template [ngIf]="debt.loaner.personType.id==1" [ngIfElse]="loanerOrg">
                        {{debt.loaner.person.firstName + " " + debt.loaner.person.lastName + " (" + debt.loaner.person.personalNo + ")"}}
                    </ng-template>
                    <ng-template #loanerOrg>
                        {{debt.loaner.organization.organizationName + " (" + debt.loaner.organization.organizationCode + ")"}}
                    </ng-template>
                </ng-template>
            </td>
            <td style="text-align: center; word-break:break-all;">{{debt.expert?.fullName}}</td>
            <td style="text-align: center; word-break:break-all;">{{getLibFromLibs(debt.state, statesOptions)?.name}}</td>
            <td style="text-align: center">
                <button
                    *ngIf="debt.state!=2 && debt.state!=3 && hasRight('ROLE_ვალის წაშლა')"
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-info"
                    style="margin-left: 3px;"
                    label="არჩევა"
                    (click)="selectDebt(debt)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUserForSearch" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="selectUserForSearch($event)"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displaySearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-persons-form
            #SearchPersonsFormComponent
            (onSelectPerson)="selectPerson($event)"></app-search-persons-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
