<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="debtChanges"
    [lazy]="true"
    [totalRecords]="debtChanges?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი"
    [scrollable]="true" [style]="{width:'100%'}">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:200px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:300px">
            <col style="width:300px">
            <col style="width:300px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:150px">მომხმარებელი</th>
            <th style="width:150px">კომენტარი</th>
            <th style="width:150px">თანხა</th>
            <th style="width:150px">პროცენტი</th>
            <th style="width:150px">ტიპი</th>
            <th style="width:150px">შექმნის თარიღი</th>
            <th style="width:150px">შემოსვლის თარიღი</th>
            <th style="width:150px">მსესხებელი</th>
            <th style="width:150px">გამსესხებელი</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-change>
        <tr>
            <td style="vertical-align: top;">{{change.user?.fullName}}</td>
            <td style="vertical-align: top;">{{change.comment}}</td>
            <td style="vertical-align: top;">{{change.amount}}</td>
            <td style="vertical-align: top;">{{change.percent}}</td>
            <td style="vertical-align: top;">{{change.debtComplexityType?.name}}</td>
            <td style="vertical-align: top;">{{change.debtDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{change.incomingDate | dateTimeFormat}}</td>
            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="change.borrower">
                    <ng-template [ngIf]="change.borrower.personType.id==1" [ngIfElse]="borrowerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(change.borrower.person.personId)">
                            {{change.borrower.person.firstName + " "+ change.borrower.person.lastName + " (" + change.borrower.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #borrowerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(change.borrower.organization.organizationId)">
                            {{change.borrower.organization.organizationName + " (" + change.borrower.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>

            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="change.loaner">
                    <ng-template [ngIf]="change.loaner.personType.id==1" [ngIfElse]="loanerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(change.loaner.person.personId)">
                            {{change.loaner.person.firstName + " " + change.loaner.person.lastName + " (" + change.loaner.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #loanerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(change.loaner.organization.organizationId)">
                            {{change.loaner.organization.organizationName + " (" + change.loaner.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>
