<p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="სარჩელი/შესაგებელი">
        <app-debt-lawyer-files
            [fileTypeId]="3"
            #debtLawyerFilesSarcheliShesagebeli></app-debt-lawyer-files>
    </p-tabPanel>
    <p-tabPanel header="დამატებით დოკუმენტაცია">
        <app-debt-lawyer-files
            [fileTypeId]="4"
            #debtLawyerFilesDamatebitiDokumentacia></app-debt-lawyer-files>
    </p-tabPanel>
    <p-tabPanel header="სასამართლოს აქტები">
        <app-debt-lawyer-files
            [fileTypeId]="5"
            #debtLawyerFilesSasamartloAqtebi></app-debt-lawyer-files>
    </p-tabPanel>
    <p-tabPanel header="შესრულებული დოკუმენტაცია">
        <app-debt-lawyer-files
            [fileTypeId]="6"
            #debtLawyerFilesShesrulebuliDokumentacia></app-debt-lawyer-files>
    </p-tabPanel>
    <p-tabPanel header="მოპასუხე">
        <app-debt-lawyer-files
            [fileTypeId]="7"
            #debtLawyerFilesMopasuxe></app-debt-lawyer-files>
    </p-tabPanel>
    <p-tabPanel header="გრაფიკი">
        <app-debt-lawyer-schedule #debtLawyerScheduleComponent></app-debt-lawyer-schedule>
    </p-tabPanel>
    <p-tabPanel header="სტატუსი" [headerStyle]="{'background-color':'red'}" headerStyleClass="redBackground">
        <app-debt-lawyer-status #debtLawyerStatusComponent></app-debt-lawyer-status>
    </p-tabPanel>
</p-tabView>
