<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="კავშირის დამატება"
                (click)="addNewConnection(null)"
                *ngIf="hasRight('ROLE_პიროვნების კავშირის დამატება')"></button>
    </div>
</div>

<div class="card">
    <p-dataView #dv [value]="personConnectionsTmp" [paginator]="false" filterBy="personDto.firstName"
                [sortField]="'firstName'" [sortOrder]="1" layout="grid">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dropdown
                    [options]="connectionTypes"
                    placeholder="კავშირის ტიპი"
                    optionLabel="name"
                    (onChange)="onConnectionTypeChange($event)"
                    [showClear]="true"
                    styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="ძებნა"
                           (input)="dv.filter($event.target.value)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-person pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img [src]="'assets/layout/images/icon-profile.png'"/>
                    <div class="product-list-detail">
                        <div class="product-description">
                            <a href="javascript:void(0)" (click)="openPerson(person.personDto.personId)">
                                <b>{{person.personDto.firstName + ' ' + person.personDto.lastName}}</b>
                            </a>
                        </div>
                        <div class="product-description">{{person.personDto.birthDate | dateFormat}}</div>
                        <div class="product-description">{{person.personDto.personalNo}}</div>
                        <div class="product-description">{{person.personDto.address}}</div>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{person.personConnectionType.name}}
                        </span>
                    </div>
                    <div class="product-list-action">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-person pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{person.personConnectionType.name}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="'assets/layout/images/icon-profile.png'"/>
                        <div class="product-description">
                            <a href="javascript:void(0)" (click)="openPerson(person.personDto.personId)">
                                <b>{{person.personDto.firstName + ' ' + person.personDto.lastName}}</b>
                            </a>
                        </div>
                        <div class="product-description">{{person.personDto.birthDate | dateFormat}}</div>
                        <div class="product-description">{{person.personDto.personalNo}}</div>
                        <div class="product-description">{{person.personDto.address}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                                (click)="removePersonConnection(person.id)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog header=" " [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კავშირის ტიპი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-dropdown
                                    [options]="connectionTypes"
                                    placeholder="კავშირის ტიპი"
                                    [showClear]="true"
                                    optionLabel="name"
                                    formControlName="connectionType"
                                    (blur)="checkValidity(addForm)"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კავშირის ტიპი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <div class="p-inputgroup">
                                    <input type="text" pInputText
                                           formControlName="secondPerson"
                                           [readOnly]="true">
                                    <input type="hidden" formControlName="secondPersonId">
                                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(1, 'search-borrowerPersonId')"></p-button>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displaySearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-persons-form
            #SearchPersonsFormComponent
            (onSelectPerson)="selectPerson($event)"></app-search-persons-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
