<div class="card">
    <h5>{{person?.firstName + ' ' + person?.lastName}}</h5>
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="პიროვნება">
            <form [formGroup]="personForm" style="width: 100%">
                <div class="p-col-12 p-md-12">
                    <div class="card">
                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label for="float-firstName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">სახელი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-firstName" type="text" pInputText formControlName="firstName"
                                           (blur)="checkValidity(personForm);"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-lastName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">გვარი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-lastName" type="text" pInputText formControlName="lastName"
                                           (blur)="checkValidity(personForm);"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-personalNo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                    პირადი ნომერი
                                </label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-personalNo" type="text" pInputText formControlName="personalNo"
                                           (blur)="checkValidity(personForm);"
                                           maxlength="11"
                                           minLength="11"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label for="float-birthDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                    დაბადების თარიღი
                                </label>
                                <div class="p-col-12 p-md-4">
                                    <p-calendar id="float-birthDate" formControlName="birthDate" [showIcon]="true"
                                                (blur)="checkValidity(personForm);"
                                                inputId="icon"></p-calendar>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-midName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">მამის სახელი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-midName" type="text" pInputText formControlName="midName"
                                           (blur)="checkValidity(personForm);"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-address" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                    იურიდიული მისამართი
                                </label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-address" type="text" pInputText formControlName="address"
                                           (blur)="checkValidity(personForm);"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-addressFact" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                                    ფაქტიური მისამართი
                                </label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-addressFact" type="text" pInputText formControlName="addressFact"
                                           (blur)="checkValidity(personForm);"
                                           [readOnly]="!hasRight('ROLE_პიროვნების რედაქტირება')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button pButton type="button" icon="pi pi-save" class="ui-button-info"
                    label="შენახვა"
                    (click)="updatePerson()"
                    *ngIf="hasRight('ROLE_პიროვნების რედაქტირება')"></button>
        </p-tabPanel>
        <p-tabPanel header="კონტაქტები">
            <app-person-contacts #personContactsComponent></app-person-contacts>
        </p-tabPanel>
        <p-tabPanel header="ქონება">
            <app-person-properties #personPropertiesComponent></app-person-properties>
        </p-tabPanel>
        <p-tabPanel header="რეკვიზიტები">
            <app-person-bank-details #personBankDetailsComponent></app-person-bank-details>
        </p-tabPanel>
        <p-tabPanel header="კავშირები">
            <app-person-connections #personConnectionsComponent></app-person-connections>
        </p-tabPanel>
    </p-tabView>
</div>
