<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="debtSchedules"
    [lazy]="true"
    [totalRecords]="debtSchedules?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი"
    [scrollable]="true" [style]="{width:'100%'}">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:200px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:300px">
            <col style="width:300px">
            <col style="width:300px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:150px">სტატუსი</th>
            <th style="width:150px">ტიპი</th>
            <th style="width:150px">თვეების რაოდ.</th>
            <th style="width:150px">დაწყების თარიღი</th>
            <th style="width:150px">დელეგ. პროცენტი</th>
            <th style="width:150px">კომენტარი</th>
            <th style="width:150px">სტატუსის კომენტარი</th>
            <th style="width:150px">სტატუსის ცვლილების თარიღი</th>
            <th style="width:150px">სტატუსის ცვლილების მომხმარებელი</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schedule>
        <tr>
            <td style="vertical-align: top;">{{schedule.debtScheduleStatus.name}}</td>
            <td style="vertical-align: top;">{{schedule.scheduleType.name}}</td>
            <td style="vertical-align: top;">{{schedule.month}}</td>
            <td style="vertical-align: top;">{{schedule.paymentStartDate | dateFormat}}</td>
            <td style="vertical-align: top;">{{schedule.delegatePercent}}</td>
            <td style="vertical-align: top;">{{schedule.comment}}</td>
            <td style="vertical-align: top;">{{schedule.statusComment}}</td>
            <td style="vertical-align: top;">{{schedule.statusUpdateDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{schedule.statusUpdateUser?.firstName + ' ' + schedule.statusUpdateUser?.lastName}}</td>
        </tr>
    </ng-template>
</p-table>
