<h3 class="first">გადახდები</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label for="search-borrowerPerson">მსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-borrowerPerson" pInputText formControlName="borrowerPerson"
                           [readOnly]="true">
                    <input type="hidden" formControlName="borrowerPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(1, 'search-borrowerPersonId')"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-loanPerson">გამსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-loanPerson" pInputText formControlName="loanPerson" [readOnly]="true">
                    <input type="hidden" formControlName="loanPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(2, 'search-loanPersonId')"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>კრედიტ ოფიცერი</label>
                <div class="p-inputgroup">
                    <input type="text" pInputText formControlName="expert" [readOnly]="true">
                    <input type="hidden" formControlName="expertId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchUserForSearch()"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>გადახდის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="debtBillingPaymentDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="debtBillingPaymentDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-payByCheck">ჩეკით გადახდა</label>
                <p-dropdown
                    id="float-input-payByCheck"
                    [options]="payByCheckOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="payByCheck"></p-dropdown>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="billings.billings"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="billings.count"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.limit"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]='"სულ - თანხა: "+(billings.amount?billings.amount:0)+", ჩანაწერი: {totalRecords} "'
>
    <ng-template pTemplate="header">
        <tr>
            <th>მსესხებელი</th>
            <th>გამსესხებელი</th>
            <th>რაოდენობა</th>
            <th>გადახდის თარიღი</th>
            <th>ჩეკით გადახდა</th>
            <th>ფაილი</th>
            <th>კომენტარი</th>
            <th>მომხმარებელი</th>
            <th width="50"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-billing>
        <tr>
            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="billing.debtDto.borrower">
                    <ng-template [ngIf]="billing.debtDto.borrower.personType.id==1" [ngIfElse]="borrowerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(billing.debtDto.borrower.person.personId)">
                            {{billing.debtDto.borrower.person.firstName + " " + billing.debtDto.borrower.person.lastName + " (" + billing.debtDto.borrower.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #borrowerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(billing.debtDto.borrower.organization.organizationId)">
                            {{billing.debtDto.borrower.organization.organizationName + " (" + billing.debtDto.borrower.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>
            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="billing.debtDto.loaner">
                    <ng-template [ngIf]="billing.debtDto.loaner.personType.id==1" [ngIfElse]="loanerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(billing.debtDto.loaner.person.personId)">
                            {{billing.debtDto.loaner.person.firstName + " " + billing.debtDto.loaner.person.lastName + " (" + billing.debtDto.loaner.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #loanerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(billing.debtDto.loaner.organization.organizationId)">
                            {{billing.debtDto.loaner.organization.organizationName + " (" + billing.debtDto.loaner.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>
            <td style="vertical-align: top;">{{billing.amount}}</td>
            <td style="vertical-align: top;">{{billing.paymentDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{billing.payByCheck == 1 ? 'კი' : 'არა'}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-download" class="p-button-info" style="margin-right: 3px;"
                        (click)="downloadFile(billing.file)" label="ჩამოტვირთვა"
                        *ngIf="billing.file"></button>
            </td>
            <td style="vertical-align: top;">{{billing.comment}}</td>
            <td style="vertical-align: top;">{{billing?.userDto?.firstName + ' ' + billing?.userDto?.lastName}}</td>
            <td>
                <p-button icon="pi pi-eye" (click)="openDebt(billing)"></p-button>
                <!--                <p-button icon="pi pi-pencil" (click)="addNewPerson(person)"></p-button>-->
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displaySearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-persons-form
            #SearchPersonsFormComponent
            (onSelectPerson)="selectPerson($event)"></app-search-persons-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUserForSearch" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="selectUserForSearch($event)" [roleId]="1"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>
