<h3 class="first">ორგანიზაციები</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-organizationCode">ორგანიზაციის კოდი</label>
                <input pInputText id="float-input-organizationCode" type="text"
                       formControlName="organizationCode"
                       (keydown.enter)='search(null, null)'>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-organizationName">ორგანიზაციის დასახელება</label>
                <input pInputText id="float-input-organizationName" type="text"
                       formControlName="organizationName"
                       (keydown.enter)='search(null, null)'>
            </div>
            <div class="p-field p-col-12 p-md-4 p-field-checkbox" style="padding-top: 25px;">
                <p-checkbox
                    binary="true"
                    inputId="binary"
                    formControlName="isLoaner">
                </p-checkbox>
                <label>გამსესხებელი ორგანიზაცია</label>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="ორგანიზაციის დამატება"
                (click)="addNewOrganization(null)"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="organizations.organizations"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="organizations.count"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.limit"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center">კოდი</th>
            <th style="text-align: center">დასახელება</th>
            <th style="text-align: center">დასახელება (ინგლ.)</th>
            <th style="text-align: center">მისამართი</th>
            <th style="text-align: center">ფაქტიური მისამართი</th>
            <th style="text-align: center">გამსესხებელი</th>
            <th width="50"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
        <tr>
            <td style="text-align: center">{{organization.organizationCode}}</td>
            <td style="text-align: center">{{organization.organizationName}}</td>
            <td style="text-align: center">{{organization.organizationNameEn}}</td>
            <td style="text-align: center">{{organization.address}}</td>
            <td style="text-align: center">{{organization.addressFact}}</td>
            <td style="text-align: center">
                <p-checkbox
                    binary="true"
                    [readonly]="true"
                    [(ngModel)]="organization.isLoaner">
                </p-checkbox>
            </td>
            <td>
                <p-button icon="pi pi-eye" (click)="openOrganization(organization)"></p-button>
                <!--<p-button icon="pi pi-pencil" (click)="addNewOrganization(organization)"></p-button>-->
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="{{curOrganization?curOrganization.organizationName:' '}}" [(visible)]="displayOrganizationModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="personAddForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-organizationCode" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">კოდი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-organizationCode" type="text" pInputText
                                       formControlName="organizationCode"
                                       minlength="1"
                                       (blur)="checkValidity();">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-organizationName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">დასახელება
                                (ქართ.)</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-organizationName" type="text" pInputText
                                       formControlName="organizationName"
                                       minlength="1"
                                       (blur)="checkValidity();">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-organizationNameEn" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">დასახელება
                                (ინგლ.)</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-organizationNameEn" type="text" pInputText
                                       formControlName="organizationNameEn">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-address" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">იურიდიული
                                მისამართი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-address" type="text" pInputText formControlName="address">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-addressFact" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">ფაქტიური
                                მისამართი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-addressFact" type="text" pInputText formControlName="addressFact">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                გამსესხებელი ორგანიზაცია
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-checkbox
                                    binary="true"
                                    inputId="binary"
                                    formControlName="isLoaner">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="saveOrganization()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>
