<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="გრაფიკის დამატება"
                (click)="addNewSchedule()"
                *ngIf="addButtonVisible"></button>

        <button pButton type="button" icon="pi pi-refresh" class="p-button-secondary" style="margin-left: 5px;"
                label="განახლება"
                (click)="getDebtSchedule()"></button>
    </div>
</div>

<form [formGroup]="viewForm" style="width: 100%; margin: 5px" *ngIf="debtSchedule">
    <div class="card">
        <div class="p-fluid p-field p-grid">
            <div class="p-field p-col-12">
                სტატუსი: <b>{{debtSchedule?.debtScheduleStatus?.name}}</b>
            </div>
            <div class="p-field p-col-12">
                კომენტარი: <b>{{debtSchedule?.statusComment}}</b>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-debtAmount">
                    დავალიანება
                </label>
                <input id="form-debtAmount" type="text" pInputText
                       formControlName="debtAmount" [readOnly]="true">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-delegatePercent">
                    დელეგირების პროცენტი
                </label>
                <input id="form-delegatePercent" type="text" pInputText
                       formControlName="delegatePercent" [readOnly]="true">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-scheduleType">
                    გრაფიკის ტიპი
                </label>
                <input id="form-scheduleType" type="text" pInputText
                       formControlName="scheduleType" [readOnly]="true">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-month">
                    თვეების რაოდენობა
                </label>
                <input id="form-month" type="text" pInputText
                       formControlName="month" [readOnly]="true">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-paymentStartDate">
                    პირველი გადახდა/რიცხვი
                </label>
                <input id="form-paymentStartDate" type="text" pInputText
                       formControlName="paymentStartDate" [readOnly]="true">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="form-comment">
                    კომენტარი
                </label>
                <textarea
                    pInputTextarea
                    rows="5"
                    autoResize="autoResize"
                    id="form-comment"
                    formControlName="comment"
                    [readOnly]="true"></textarea>
            </div>
        </div>
    </div>
</form>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    *ngIf="debtSchedule"
    [responsive]="true"
    [value]="debtSchedule?.debtSchedulePayments"
    [lazy]="true"
    [totalRecords]="debtSchedule?.debtSchedulePayments?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>თარიღი</th>
            <th>გადასახდელი თანხა</th>
            <th>გადახდილი თანხა</th>
            <th>დარჩენილი თანხა</th>
            <th width="130">გადახდილია</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
        <tr>
            <td>{{payment.payDate}}</td>
            <td>{{payment.requiredAmount}}</td>
            <td>{{payment.paidAmount}}</td>
            <td>{{payment.paidAmount ? (payment.requiredAmount - payment.paidAmount).toFixed(2) : payment.requiredAmount}}</td>
            <td style="text-align: center">
                <button pButton pRipple icon="pi pi-check" class="p-button-success"
                        *ngIf="payment.fullyPaid==1"></button>
                <button pButton pRipple icon="pi pi-minus-circle" class="p-button-danger"
                        *ngIf="payment.fullyPaid==0"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="p-col-12">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-12">ჯამი:
                <b>{{debtSchedulePaymentsWholePrice.toFixed(2)}}</b>
            </div>
            <div class="p-col-12">გადახდილი თანხა:
                <b>{{debtSchedulePaymentsPaidAmount.toFixed(2)}}</b>
            </div>
            <div class="p-col-12">დარჩენილი თანხა:
                <b>{{debtSchedulePaymentsLeftAmount.toFixed(2)}}</b>
            </div>
        </div>
    </div>
</div>
<button pButton pRipple icon="pi pi-check" class="p-button-success" style="margin-right: 3px;"
        *ngIf="hasRight('ROLE_ვალის გრაფიკის დადასტურება') && debtSchedule && debtSchedule.debtScheduleStatus.id == 1"
        (click)="openStatusChangeModal(2, 'დადასტურება')" label="დადასტურება"></button>
<button pButton pRipple icon="pi pi-ban" class="p-button-danger" style="margin-right: 3px;"
        *ngIf="hasRight('ROLE_ვალის გრაფიკის უარყოფა') && debtSchedule && debtSchedule.debtScheduleStatus.id == 1"
        (click)="openStatusChangeModal(3, 'უარყოფა')" label="უარყოფა"></button>

<p-dialog [header]="displayStatusChangeModalTitle" [(visible)]="displayStatusChangeModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="changeStatusDialog" [blocked]="blockedPanelStatusChangeModal">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #changeStatusDialog [showHeader]="false">
        <form [formGroup]="statusChangeForm" style="width: 100%; margin: 5px">
            <div class="card">
                <div class="p-fluid p-field p-grid">
                    <div class="p-field p-col-12">
                        <label for="form-status-comment">
                            კომენტარი
                        </label>
                        <textarea
                            pInputTextarea
                            rows="5"
                            id="form-status-comment"
                            formControlName="comment"></textarea>
                        <input type="hidden" formControlName="statusId">
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="changeDebtScheduleStatus()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header=" " [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
                           'max-height': '80vh','min-height':'250px'}"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%;">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-debtAmount" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                დავალიანება
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-debtAmount" type="text" pInputText
                                       formControlName="debtAmount" [readOnly]="true">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-scheduleType" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                გრაფიკის ტიპი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-dropdown
                                    [options]="scheduleTypes"
                                    placeholder=" -გრაფიკის ტიპი- "
                                    [showClear]="true"
                                    optionLabel="name"
                                    id="float-scheduleType"
                                    formControlName="scheduleType"
                                    (onChange)="onScheduleTypeChange($event)"
                                    (blur)="checkValidity(addForm);"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-field p-grid" *ngIf="delegatePercentShow">
                            <label for="float-percent" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                დელეგირების პროცენტი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-inputNumber
                                    id="float-percent"
                                    mode="decimal"
                                    [showButtons]="true"
                                    [min]="0"
                                    [max]="1000"
                                    suffix=" %"
                                    formControlName="delegatePercent"></p-inputNumber>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-month" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                თვეების რაოდენობა
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-inputNumber
                                    id="float-month"
                                    mode="decimal"
                                    [showButtons]="true"
                                    [min]="1"
                                    [max]="monthMaxValue"
                                    formControlName="month"
                                    (blur)="checkValidity(addForm);"></p-inputNumber>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="paymentStartDate" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                პირველი გადახდა/რიცხვი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-calendar
                                    appendTo="body"
                                    formControlName="paymentStartDate"
                                    id="paymentStartDate"
                                    dateFormat="dd-mm-yy"
                                    [showIcon]="true"
                                    (blur)="checkValidity(addForm);"></p-calendar>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-comment" type="text" pInputText
                                       formControlName="comment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <p-table
            styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
            editMode="row"
            dataKey="payDate"
            [value]="previewDebtSchedule?.debtSchedulePayments"
            [totalRecords]="previewDebtSchedule?.debtSchedulePayments?.length"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
            <ng-template pTemplate="header">
                <tr>
                    <th>თარიღი</th>
                    <th>თანხა</th>
                    <th style="width:130px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment let-i="rowIndex" let-editing="editing">
                <tr [pEditableRow]="payment">
                    <td>{{payment.payDate}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="payment.requiredAmount">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{payment.requiredAmount}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td style="text-align:center">
                        <button *ngIf="!editing && isStandard!=1" pButton pRipple type="button" pInitEditableRow
                                icon="pi pi-pencil" (click)="onRowEditInit(payment)"
                                class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(payment)"
                                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(payment, i)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="p-col-12">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <div class="p-col-4">ჯამი:</div>
                    <div class="p-col-4">
                        <span
                            [style]="{'color': (debt && previewDebtSchedule && generatedWholePrice.toFixed(2)!=(debt.amount*(100+previewDebtSchedule.delegatePercent)/100).toFixed(2)) ? 'red': 'black'}">
                            {{generatedWholePrice.toFixed(2)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-eye" class="p-button-success" style="margin-right: 3px;"
                    (click)="generateDebtSchedule()" label="გრაფიკის გენერაცია"></button>
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="save()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>
