<h3 class="first">
    <ng-template [ngIf]="fullyPaid">განულებული</ng-template>
    <ng-template [ngIf]="debtToConfirmPaid">გასანულებელი</ng-template>
    <ng-template [ngIf]="assigneeDebtRequestTypeId">ადმინისტრაციაზე გადასაწერი</ng-template>
    <ng-template [ngIf]="removed">წაშლილი</ng-template>
    ვალები
</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label>ვალის N</label>
                <p-inputNumber
                    placeholder="#"
                    mode="decimal"
                    [useGrouping]="false"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    (keyup.enter)="search(null, null)"
                    formControlName="debtId">
                </p-inputNumber>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>სესხის ტიპი</label>
                <p-dropdown
                    [options]="complexityTypes"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="debtComplexityType"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-amountFrom">თანხა</label>
                <div class="p-inputgroup" style="width: 100%">
                    <p-inputNumber
                        [ngStyle]="{'width':'50%'}"
                        placeholder="-დან"
                        id="search-amountFrom"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="5"
                        formControlName="amountFrom">
                    </p-inputNumber>
                    <p-inputNumber
                        [ngStyle]="{'marginLeft': '3px','width':'50%'}"
                        placeholder="-მდე"
                        id="amountTo"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="5"
                        formControlName="amountTo">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-borrowerPerson">მსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-borrowerPerson" pInputText formControlName="borrowerPerson"
                           [readOnly]="true">
                    <input type="hidden" formControlName="borrowerPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(1, 'search-borrowerPersonId')"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="search-loanPerson">გამსესხებელი</label>
                <div class="p-inputgroup">
                    <input type="text" id="search-loanPerson" pInputText formControlName="loanPerson" [readOnly]="true">
                    <input type="hidden" formControlName="loanPersonId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchPersonModal(2, 'search-loanPersonId')"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>კრედიტ ოფიცერი</label>
                <div class="p-inputgroup">
                    <input type="text" id="user" pInputText formControlName="user" [readOnly]="true">
                    <input type="hidden" formControlName="userId">
                    <span class="p-inputgroup-button" *ngIf="!hasRight( 'ROLE_მხოლოდ საკუთარი ვალების ნახვა')">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchUserForSearch()"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>შექმნის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="debtDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="debtDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>ხანდაზმულობის ვადა</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="statuteOfLimitationDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="statuteOfLimitationDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>კომენტარის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="commentDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="commentDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>შეპირების თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="promiseDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="promiseDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>დაკავშირების თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="nextContactDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="nextContactDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>გადაწერის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="assignDateFrom"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="assignDateTo"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>გრაფიკის სტატუსი</label>
                <p-dropdown
                    [options]="scheduleStatuses"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="scheduleStatus"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>დასამუშავებელი</label>
                <p-dropdown
                    [options]="unWorkedDebtOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="unWorkedDebt"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>გადაწერილია</label>
                <p-dropdown
                    [options]="debtOwnerOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="debtOwner"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>უარს ამბობს გადახდაზე</label>
                <p-dropdown
                    [options]="refusesToPayOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="refusesToPay"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>არ გამოდის კონტაქტზე</label>
                <p-dropdown
                    [options]="notInContactOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="notInContact"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>მოთხოვნილია გადასაწერად</label>
                <p-dropdown
                    [options]="assigneeDebtRequestOptions"
                    placeholder="-აირჩიეთ-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="assigneeDebtRequestTypeId"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>იურიდიული სტატუსი</label>
                <p-dropdown
                    [options]="debtLawyerStatuses"
                    placeholder="-აირჩიეთ-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="lawyerStatus"></p-dropdown>
            </div>
            <!--<div class="p-field p-col-12 p-md-4 p-field-checkbox" style="padding-top: 25px;">
                <p-checkbox id="float-input-fullyPaid" [(ngModel)]="fullyPaid"
                            binary="true" inputId="binary" formControlName="fullyPaid"></p-checkbox>
                <label for="float-input-fullyPaid"> განულებული</label>
            </div>-->
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="resetSearchForm()"></button>
    </div>
</div>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="ვალის დამატება"
                (click)="addNewDebt()"
                *ngIf="hasRight('ROLE_ვალის დამატება')"></button>
        <button pButton type="button" icon="pi pi-pencil" class="p-button-warning"
                label="კრედიტ ოფიცერზე მიბმა"
                (click)="openSearchUserModal()"
                [style]="{'margin-left': '5px'}"
                *ngIf="hasRight('ROLE_ვალის კრედიტ ოფიცერზე მიბმა')"></button>
        <button pButton type="button" icon="pi pi-arrow-circle-left" class="p-button-warning"
                label="ადმინისტრაციაზე გადაწერა"
                (click)="assigneeDebtToAdministration()"
                [style]="{'margin-left': '5px'}"
                *ngIf="hasRight('ROLE_ვალის ადმინისტრაციაზე გადაწერა')"></button>
        <button pButton type="button" icon="pi pi-file-excel" class="p-button-secondary"
                style="margin-left: 5px;"
                label="ვალების შემოტანა ექსელიდან"
                (click)="openImportExcelModal()"
                *ngIf="hasRight('ROLE_ვალის დამატება')"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="debts.debts"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="debts.count"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.limit"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]='"სულ - თანხა: "+(debts.amount?debts.amount:0)+", ჩანაწერი: {totalRecords} "'
         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
         [(selection)]="selectedDebts"
         dataKey="id"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 30px">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center" width="50">N</th>
            <!--            <th style="text-align: center" width="100">ბოლო კომენტარის თარიღი</th>-->
            <!--            <th style="text-align: center" width="100">შეპირების თარიღი</th>-->
            <th style="text-align: center" width="115">დაკავშირების თარიღი</th>
            <th style="text-align: center" width="95">ტიპი</th>
            <th style="text-align: center" width="70">თანხა</th>
            <th style="text-align: center" width="125">სტატუსი</th>
            <th style="text-align: center" width="140">მსესხებელი</th>
            <th style="text-align: center" width="140">გამსესხებელი</th>
            <th style="text-align: center" width="150">კრედიტ ოფიცერი</th>
            <th style="text-align: center" width="150">იურისტი</th>
            <th style="text-align: center" width="100">სტატუსი</th>
            <th width="90"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-debt>
        <tr [ngClass]="getTrClass(debt)">
            <td>
                <p-tableCheckbox [value]="debt"></p-tableCheckbox>
            </td>
            <td style="text-align: center; word-break:break-all;">
                <a href="javascript:void(0)" (click)="openDebt(debt)">
                    {{debt.id}}
                </a>
            </td>
            <!--            <td style="text-align: center; word-break:break-all;">{{debt.lastCommentDate | dateFormat}}</td>-->
            <!--            <td style="text-align: center; word-break:break-all;">{{debt.lastPromiseDate | dateFormat}}</td>-->
            <td style="text-align: center; word-break:break-all;">{{debt.lastNextContactDate | dateFormat}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.debtComplexityType?.name}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.amount}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.fullyPaid ? "განულებული" : "მიმდინარე"}}</td>
            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="debt.borrower">
                    <ng-template [ngIf]="debt.borrower.personType.id==1" [ngIfElse]="borrowerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(debt.borrower.person.personId)">
                            {{debt.borrower.person.firstName + " " + debt.borrower.person.lastName + " (" + debt.borrower.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #borrowerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(debt.borrower.organization.organizationId)">
                            {{debt.borrower.organization.organizationName + " (" + debt.borrower.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>

            <td style="text-align: center; word-break:break-all;">
                <ng-template [ngIf]="debt.loaner">
                    <ng-template [ngIf]="debt.loaner.personType.id==1" [ngIfElse]="loanerOrg">
                        <a href="javascript:void(0)" (click)="openPerson(debt.loaner.person.personId)">
                            {{debt.loaner.person.firstName + " " + debt.loaner.person.lastName + " (" + debt.loaner.person.personalNo + ")"}}
                        </a>
                    </ng-template>
                    <ng-template #loanerOrg>
                        <a href="javascript:void(0)"
                           (click)="openOrganization(debt.loaner.organization.organizationId)">
                            {{debt.loaner.organization.organizationName + " (" + debt.loaner.organization.organizationCode + ")"}}
                        </a>
                    </ng-template>
                </ng-template>
            </td>
            <td style="text-align: center; word-break:break-all;">{{debt.expert?.fullName}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.lawyer?.fullName}}</td>
            <td style="text-align: center; word-break:break-all;">{{getLibFromLibs(debt.state, statesOptions)?.name}}</td>
            <td style="text-align: center">
                <p-button icon="pi pi-eye" (click)="openDebt(debt)"></p-button>
                <button
                    *ngIf="debt.state!=2 && debt.state!=3 && hasRight('ROLE_ვალის წაშლა')"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-danger"
                    style="margin-left: 3px;"
                    (click)="changeDebtStateModal(debt)"></button>
                <button
                    *ngIf="debt.state!=1 && hasRight('ROLE_ვალის წაშლა')"
                    pButton
                    pRipple
                    icon="pi pi-replay"
                    class="p-button-warning"
                    style="margin-left: 3px;"
                    (click)="changeDebtStateModal(debt)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUser" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="assigneeDebt($event)" [roleId]="1"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUserForSearch" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="selectUserForSearch($event)" [roleId]="1"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="ექსელის იმპორტი" [(visible)]="displayExcelImport" [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="pnlExcelImport" [blocked]="blockedPanelExcelImport">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnlExcelImport [showHeader]="false">
        <form [formGroup]="importExcelForm" style="width: 100%; margin: 5px">
            <div class="card">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="loanPerson" class="p-col-12 p-md-3">გამსეხესხებელი</label>
                        <div class="p-col-12 p-md-9">
                            <div class="p-inputgroup">
                                <input type="text" id="loanPerson" pInputText
                                       formControlName="importExcelOrganizationName"
                                       [readOnly]="true">
                                <input type="hidden" formControlName="importExcelOrganizationId">
                                <span class="p-inputgroup-button">
                            <p-button label="ძებნა" icon="pi pi-search"
                                      (click)="openSearchPersonModal(2, 'importExcelOrganizationId')"></p-button>
                        </span>
                            </div>
                        </div>
                    </div>

                    <p-fileUpload
                        #fileUploadButton
                        mode="basic"
                        chooseLabel="ატვირთვა"
                        name="file"
                        customUpload="true"
                        [auto]="true"
                        (uploadHandler)="uploadFile($event, fileUploadButton)"></p-fileUpload>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <!--<button pButton type="button" icon="pi pi-save" class="p-button-secondary" style="margin-left: 5px;"
                    label="შენახვა"
                    (click)="excelImport()"></button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displaySearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-persons-form
            #SearchPersonsFormComponent
            (onSelectPerson)="selectPerson($event)"></app-search-persons-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="დადასტურება" [(visible)]="displayChangeStateModal" [modal]="true"
          [style]="{width: '400px'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="changeStateModal" [blocked]="blockedPanelChangeState">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #changeStateModal [showHeader]="false">
        <div class="p-field-radiobutton">
            <p-radioButton name="changeStateRadio" value="1" label="აქტიური"
                           *ngIf="curDebt?.state!=1"
                           [(ngModel)]="changeStateValue"></p-radioButton>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton name="changeStateRadio" value="2" label="წაშლილი (შეცდომით გამოგზავნილი)"
                           *ngIf="curDebt?.state==1"
                           [(ngModel)]="changeStateValue"></p-radioButton>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton name="changeStateRadio" value="3" label="წაშლილი (უშედეგო)"
                           *ngIf="curDebt?.state==1"
                           [(ngModel)]="changeStateValue"></p-radioButton>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="changeDebtState()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
