<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="გადახდის დამატება"
                (click)="addNewBilling(null)"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="debtBillings"
    [lazy]="true"
    [totalRecords]="debtBillings?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>რაოდენობა</th>
            <th>გადახდის თარიღი</th>
            <th>ჩეკით გადახდა</th>
            <th>ფაილი</th>
            <th>კომენტარი</th>
            <th width="140"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-billing>
        <tr>
            <td style="vertical-align: top;">{{billing.amount}}</td>
            <td style="vertical-align: top;">{{billing.paymentDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{billing.payByCheck == 1 ? 'კი' : 'არა'}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-download" class="p-button-info" style="margin-right: 3px;"
                        (click)="downloadFile(billing.file)" label="ჩამოტვირთვა"
                        *ngIf="billing.file"></button>
            </td>
            <td style="vertical-align: top;">{{billing.comment}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-warning" style="margin-left: 3px;"
                        (click)="addNewBilling(billing)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                        (click)="removeDebtBilling(billing.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="გადახდის დამატება/რედაქტირება" [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          (onHide)="onModalClose()"
          (close)="onModalClose()"
          [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
                           'max-height': '80vh','min-height':'250px'}"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-amount" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                თანხა
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-inputNumber
                                    id="float-amount"
                                    mode="decimal"
                                    [minFractionDigits]="2"
                                    [maxFractionDigits]="5"
                                    [showButtons]="true"
                                    [min]="0"
                                    (blur)="checkValidity(addForm);"
                                    formControlName="amount"></p-inputNumber>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="paymentDate" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                გადახდის თარიღი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-calendar
                                    formControlName="paymentDate"
                                    id="paymentDate"
                                    dateFormat="dd-mm-yy"
                                    [showTime]="true"
                                    [showIcon]="true"
                                    [maxDate]="now"
                                    (blur)="checkValidity(addForm);"></p-calendar>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="payByCheck" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                ჩეკით გადახდა
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-checkbox
                                    id="payByCheck"
                                    binary="true"
                                    inputId="binary"
                                    formControlName="payByCheck">
                                </p-checkbox>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="form-comment" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <textarea
                                    pInputTextarea
                                    rows="5"
                                    id="form-comment"
                                    formControlName="comment"></textarea>
                            </div>
                        </div>
                        <p-fileUpload
                            #fileUploadButton
                            chooseLabel="ატვირთვა"
                            name="file"
                            customUpload="true"
                            [auto]="true"
                            [disabled]="uploadedFiles.length>0"
                            (uploadHandler)="uploadFile($event, fileUploadButton)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length>0">
                                    <li *ngFor="let file of uploadedFiles">
                                        {{file.name}}
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                                                style="margin-left: 3px; width: 40px;"
                                                (click)="removeDebtBillingFile(file)"></button>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="addDebtBilling()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="removeDebtBilling"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
