<p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<p-tabView [(activeIndex)]="index" #pnl>
    <p-tabPanel header="ფიზიკური პირი">
        <form [formGroup]="searchFormPersons" style="width: 100%; margin: 5px">
            <div class="card">
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="float-input-firstName">სახელი</label>
                        <input pInputText id="float-input-firstName" type="text"
                               formControlName="firstName"
                               (keydown.enter)='searchPersons(null, null)'>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="float-input-lastName">გვარი</label>
                        <input pInputText id="float-input-lastName" type="text"
                               formControlName="lastName"
                               (keydown.enter)='searchPersons(null, null)'>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="float-input-personalNo">პირადი ნომერი</label>
                        <input pInputText id="float-input-personalNo" type="text"
                               formControlName="personalNo"
                               (keydown.enter)='searchPersons(null, null)'>
                    </div>
                </div>
            </div>
        </form>

        <div class="ui-g" style="margin: 5px">
            <div class="ui-g-12" style="text-align: center">
                <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                        label="ძებნა"
                        (click)="searchPersons(null, null)"></button>
                <button pButton type="button" class="ui-button-danger"
                        label="გასუფთავება"
                        style="margin-left: 3px;"
                        (click)="searchFormPersons.reset()"></button>
            </div>
        </div>

        <p-table #tablePersons
                 styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
                 [responsive]="true"
                 [value]="persons.persons"
                 [lazy]="true"
                 (onLazyLoad)="searchPersons($event, null)"
                 [lazyLoadOnInit]="false"
                 [totalRecords]="persons.count"
                 [customSort]="true"
                 [paginator]="true"
                 [rows]="searchRequestPersons.limit"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center">სახელი</th>
                    <th style="text-align: center">გვარი</th>
                    <th style="text-align: center">პირადი ნომერი</th>
                    <th style="text-align: center">დაბადების თარიღი</th>
                    <th style="text-align: center">მამის სახელი</th>
                    <th style="text-align: center">იურიდიული მისამართი</th>
                    <th style="text-align: center">ფაქტიური მისამართი</th>
                    <th width="50"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
                <tr>
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.personalNo}}</td>
                    <td>{{person.birthDate | dateFormat}}</td>
                    <td>{{person.midName}}</td>
                    <td>{{person.address}}</td>
                    <td>{{person.addressFact}}</td>
                    <td>
                        <p-button icon="pi pi-check" (click)="selectPerson(person, 1)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="იურიდიული პირი">
        <form [formGroup]="searchFormOrganizations" style="width: 100%; margin: 5px">
            <div class="card">
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="float-input-organizationCode">ორგანიზაციის კოდი</label>
                        <input pInputText id="float-input-organizationCode" type="text"
                               formControlName="organizationCode"
                               (keydown.enter)='searchOrganizations(null, null)'>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="float-input-organizationName">ორგანიზაციის დასახელება</label>
                        <input pInputText id="float-input-organizationName" type="text"
                               formControlName="organizationName"
                               (keydown.enter)='searchOrganizations(null, null)'>
                    </div>
                    <div class="p-field p-col-12 p-md-4 p-field-checkbox" style="padding-top: 25px;">
                        <p-checkbox
                            binary="true"
                            inputId="binary"
                            formControlName="isLoaner">
                        </p-checkbox>
                        <label>გამსესხებელი ორგანიზაცია</label>
                    </div>
                </div>
            </div>
        </form>

        <div class="ui-g" style="margin: 5px">
            <div class="ui-g-12" style="text-align: center">
                <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                        label="ძებნა"
                        (click)="searchOrganizations(null, null)"></button>
                <button pButton type="button" class="ui-button-danger"
                        label="გასუფთავება"
                        style="margin-left: 3px;"
                        (click)="searchFormOrganizations.reset()"></button>
            </div>
        </div>

        <p-table #tableOrganizations
                 styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
                 [responsive]="true"
                 [value]="organizations.organizations"
                 [lazy]="true"
                 (onLazyLoad)="searchOrganizations($event, null)"
                 [lazyLoadOnInit]="false"
                 [totalRecords]="organizations.count"
                 [customSort]="true"
                 [paginator]="true"
                 [rows]="searchRequestOrganizations.limit"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center">კოდი</th>
                    <th style="text-align: center">დასახელება</th>
                    <th style="text-align: center">დასახელება (ინგლ.)</th>
                    <th style="text-align: center">მისამართი</th>
                    <th style="text-align: center">ფაქტიური მისამართი</th>
                    <th style="text-align: center">გამსესხებელი</th>
                    <th width="50"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-organization>
                <tr>
                    <td>{{organization.organizationCode}}</td>
                    <td>{{organization.organizationName}}</td>
                    <td>{{organization.organizationNameEn}}</td>
                    <td>{{organization.address}}</td>
                    <td>{{organization.addressFact}}</td>
                    <td style="text-align: center">
                        <p-checkbox
                            binary="true"
                            [readonly]="true"
                            [(ngModel)]="organization.isLoaner">
                        </p-checkbox>
                    </td>
                    <td>
                        <p-button icon="pi pi-check" (click)="selectPerson(organization, 2)"></p-button>
                        <!--<p-button icon="pi pi-pencil" (click)="addNewOrganization(organization)"></p-button>-->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
