<h3 class="first">პიროვნებები</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-firstName">სახელი</label>
                <input pInputText id="float-input-firstName" type="text"
                       formControlName="firstName"
                       (keydown.enter)='search(null, null)'>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-lastName">გვარი</label>
                <input pInputText id="float-input-lastName" type="text"
                       formControlName="lastName"
                       (keydown.enter)='search(null, null)'>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-personalNo">პირადი ნომერი</label>
                <input pInputText id="float-input-personalNo" type="text"
                       formControlName="personalNo"
                       (keydown.enter)='search(null, null)'>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="პიროვნების დამატება"
                (click)="addNewPerson(null)"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="persons.persons"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="persons.count"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.limit"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center">სახელი</th>
            <th style="text-align: center">გვარი</th>
            <th style="text-align: center">პირადი ნომერი</th>
            <th style="text-align: center">დაბადების თარიღი</th>
            <th style="text-align: center">მამის სახელი</th>
            <th style="text-align: center">იურიდიული მისამართი</th>
            <th style="text-align: center">ფაქტიური მისამართი</th>
            <th width="50"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
        <tr>
            <td style="text-align: center">{{person.firstName}}</td>
            <td style="text-align: center">{{person.lastName}}</td>
            <td style="text-align: center">{{person.personalNo}}</td>
            <td style="text-align: center">{{person.birthDate | dateFormat}}</td>
            <td style="text-align: center">{{person.midName}}</td>
            <td style="text-align: center">{{person.address}}</td>
            <td style="text-align: center">{{person.addressFact}}</td>
            <td>
                <p-button icon="pi pi-eye" (click)="openPerson(person)"></p-button>
                <!--                <p-button icon="pi pi-pencil" (click)="addNewPerson(person)"></p-button>-->
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="{{curPerson?curPerson.personalNo:' '}}" [(visible)]="displayPersonModal" [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="personAddForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-firstName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">სახელი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-firstName" type="text" pInputText formControlName="firstName"
                                       (blur)="checkValidity();">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-lastName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">გვარი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-lastName" type="text" pInputText formControlName="lastName"
                                       (blur)="checkValidity();">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-personalNo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">პირადი ნომერი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-personalNo" type="text" pInputText formControlName="personalNo"
                                       (blur)="checkValidity();"
                                       maxlength="11"
                                       minLength="11">
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <label for="float-birthDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">დაბადების
                                თარიღი</label>
                            <div class="p-col-12 p-md-10">
                                <p-calendar id="float-birthDate" formControlName="birthDate" [showIcon]="true"
                                            appendTo="body"
                                            inputId="icon"></p-calendar>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-midName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">მამის სახელი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-midName" type="text" pInputText formControlName="midName">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-address" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">იურიდიული
                                მისამართი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-address" type="text" pInputText formControlName="address">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-addressFact" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ფაქტიური
                                მისამართი</label>
                            <div class="p-col-12 p-md-10">
                                <input id="float-addressFact" type="text" pInputText formControlName="addressFact">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>
