<div class="card">
    <h5>პროფილი</h5>
    <form [formGroup]="profileForm">
        <div class="p-col-12 p-md-6">
            <div class="card">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="userName" class="p-col-12 p-md-6">მომხმარებლის სახელი</label>
                        <div class="p-col">
                            <input id="userName" type="text" pInputText formControlName="userName">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="firstName" class="p-col-12 p-md-6">სახელი</label>
                        <div class="p-col">
                            <input id="firstName" type="text" pInputText formControlName="firstName">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="lastName" class="p-col-12 p-md-6">გვარი</label>
                        <div class="p-col">
                            <input id="lastName" type="text" pInputText formControlName="lastName">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="personalNo" class="p-col-12 p-md-6">პირადი ნომერი</label>
                        <div class="p-col">
                            <input id="personalNo" type="text" pInputText formControlName="personalNo">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="birthDate" class="p-col-12 p-md-6">დაბადების თარიღი</label>
                        <div class="p-col">
                            <input id="birthDate" type="text" pInputText formControlName="birthDate">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="mobileNo" class="p-col-12 p-md-6">ტელეფონი</label>
                        <div class="p-col">
                            <input id="mobileNo" type="text" pInputText formControlName="mobileNo">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="email" class="p-col-12 p-md-6">ელ. ფოსტა</label>
                        <div class="p-col">
                            <input id="email" type="text" pInputText formControlName="email">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="address" class="p-col-12 p-md-6">მისამართი</label>
                        <div class="p-col">
                            <input id="address" type="text" pInputText formControlName="address">
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="accountNumber" class="p-col-12 p-md-6">ანგარიშის ნომერი</label>
                        <div class="p-col">
                            <input id="accountNumber" type="text" pInputText formControlName="accountNumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <button pButton pRipple icon="pi pi-lock" class="p-button-info" style="margin-right: 3px;"
            (click)="openPasswordChangeModal()" label="პაროლის შეცვლა"></button>
</div>


<p-dialog header="პაროლის შეცვლა" [(visible)]="displayresetPasswordModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="pnl" [blocked]="blockedPanel3">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="resetPasswordForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="oldPassword" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                ძველი პაროლი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <input id="oldPassword" type="text" pInputText formControlName="oldPassword">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="resetPassword" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                ახალი პაროლი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <input id="resetPassword" type="text" pInputText formControlName="password">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="changeRepeatPassword" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                გაიმეორეთ პაროლი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <input id="changeRepeatPassword" type="text" pInputText
                                       formControlName="repeatPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="changePassword()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>
