<div class="card">
    <h5>{{organization?.organizationName + ' - ' + organization?.organizationCode}}</h5>
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="ორგანიზაცია">
            <form [formGroup]="organizationForm" style="width: 100%">
                <div class="p-col-12 p-md-12">
                    <div class="card">
                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label for="float-organizationCode"
                                       class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">კოდი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-organizationCode" type="text" pInputText
                                           formControlName="organizationCode"
                                           minlength="1"
                                           (blur)="checkValidity();"
                                           [readOnly]="!hasRight('ROLE_ორგანიზაციის რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-organizationName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">დასახელება
                                    (ქართ.)</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-organizationName" type="text" pInputText
                                           formControlName="organizationName"
                                           minlength="1"
                                           (blur)="checkValidity();"
                                           [readOnly]="!hasRight('ROLE_ორგანიზაციის რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-organizationNameEn" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">დასახელება
                                    (ინგლ.)</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-organizationNameEn" type="text" pInputText
                                           formControlName="organizationNameEn"
                                           [readOnly]="!hasRight('ROLE_ორგანიზაციის რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-address" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">იურიდიული
                                    მისამართი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-address" type="text" pInputText formControlName="address"
                                           [readOnly]="!hasRight('ROLE_ორგანიზაციის რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="float-addressFact" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">ფაქტიური
                                    მისამართი</label>
                                <div class="p-col-12 p-md-4">
                                    <input id="float-addressFact" type="text" pInputText formControlName="addressFact"
                                           [readOnly]="!hasRight('ROLE_ორგანიზაციის რედაქტირება')">
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                    გამსასხებელი ორგანიზაცია
                                </label>
                                <div class="p-col-12 p-md-4">
                                    <p-checkbox
                                        binary="true"
                                        inputId="binary"
                                        formControlName="isLoaner">
                                    </p-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button pButton type="button" icon="pi pi-save" class="ui-button-info"
                    label="შენახვა"
                    (click)="updateOrganization()"
                    *ngIf="hasRight('ROLE_ორგანიზაციის რედაქტირება')"></button>
        </p-tabPanel>
        <p-tabPanel header="კონტაქტები">
            <app-person-contacts #personContactsComponent></app-person-contacts>
        </p-tabPanel>
        <p-tabPanel header="ქონება">
            <app-person-properties #personPropertiesComponent></app-person-properties>
        </p-tabPanel>
        <p-tabPanel header="რეკვიზიტები">
            <app-person-bank-details #personBankDetailsComponent></app-person-bank-details>
        </p-tabPanel>
    </p-tabView>
</div>
