<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="ქონების დამატება"
                (click)="addNewProperty(null)"
                *ngIf="hasRight('ROLE_პიროვნების ქონების დამატება')"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="personProperties"
    [lazy]="true"
    [totalRecords]="personProperties?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>დასახელება</th>
            <th>ტიპი</th>
            <th>კომენტარი</th>
            <th width="130"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-property>
        <tr>
            <td>{{property.propertyName}}</td>
            <td>{{property.propertyType?.name}}</td>
            <td>{{property.comment}}</td>
            <td>
                <!--<button pButton pRipple icon="pi pi-eye" (click)="addNewProperty(property)"></button>-->
                <button pButton pRipple class="p-button-warning" icon="pi pi-pencil"
                        (click)="addNewProperty(property)"
                        *ngIf="hasRight('ROLE_პიროვნების ქონების რედაქტირება')"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        (click)="removePersonProperty(property)"
                        *ngIf="hasRight('ROLE_პიროვნების ქონების წაშლა')"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header=" " [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-propertyName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                დასახელება
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-propertyName" type="text" pInputText
                                       formControlName="propertyName"
                                       (blur)="checkValidity(addForm)">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-propertyName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                ქონების ტიპი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-dropdown
                                    [options]="propertyTypes"
                                    placeholder="ქონების ტიპი"
                                    [showClear]="true"
                                    optionLabel="name"
                                    formControlName="propertyType"
                                    (blur)="checkValidity(addForm)"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-comment" type="text" pInputText
                                       formControlName="comment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
