<div class="card">
    <div class="p-grid">
        <div class="p-md-6">
            <div class="p-col-12 p-md-12">
                <div style="font-weight: bold; margin-bottom: 5px;">
                    გეგმა
                </div>
                <p-editor [(ngModel)]="plan" [style]="{'height':'320px'}">
                    <p-header>
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-align">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                          </select>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                        </span>
                        <span class="ql-formats">
                            <<select class="ql-background"></select>
                        </span>
                    </p-header>
                </p-editor>
            </div>
        </div>
        <div class="p-md-6">
            <div class="p-col-12 p-md-12">
                <div style="font-weight: bold; margin-bottom: 5px;">
                    გრაფიკი
                </div>
                <p-editor [(ngModel)]="schedule" [style]="{'height':'320px'}">
                    <p-header>
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-align">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                          </select>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-background"></select>
                        </span>
                    </p-header>
                </p-editor>
            </div>
        </div>
    </div>
    <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
            (click)="saveDebtSchedule()" label="შენახვა"></button>
</div>
