<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="რეკვიზიტის დამატება"
                (click)="addNewBankDetail(null)"
                *ngIf="hasRight('ROLE_პიროვნების რეკვიზიტის დამატება')"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="personBankDetails"
    [lazy]="true"
    [totalRecords]="personBankDetails?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>რეკვიზიტი</th>
            <th>კომენტარი</th>
            <th width="130"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bankDetail>
        <tr>
            <td>{{bankDetail.bankDetail}}</td>
            <td>{{bankDetail.comment}}</td>
            <td>
                <!--<button pButton pRipple icon="pi pi-eye" (click)="addNewProperty(property)"></button>-->
                <!--<button pButton pRipple class="p-button-warning" icon="pi pi-pencil"
                        (click)="addNewBankDetail(bankDetail)"
                        *ngIf="hasRight('ROLE_პიროვნების ქონების რედაქტირება')"></button>-->
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        (click)="removePersonBankDetail(bankDetail)"
                        *ngIf="hasRight('ROLE_პიროვნების რეკვიზიტის წაშლა')"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header=" " [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-bankDetail" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                რეკვიზიტი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-bankDetail" type="text" pInputText
                                       formControlName="bankDetail"
                                       (blur)="checkValidity(addForm)">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <textarea pInputTextarea
                                          id="float-comment"
                                          type="text"
                                          formControlName="comment"
                                          [rows]="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
