<h3 class="first">მომხმარბლები</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-userName">მომხმარებლის სახელი</label>
                <input pInputText id="float-input-userName" type="text"
                       formControlName="userName">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-firstName">სახელი</label>
                <input pInputText id="float-input-firstName" type="text"
                       formControlName="firstName">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-lastName">გვარი</label>
                <input pInputText id="float-input-lastName" type="text"
                       formControlName="lastName">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-personalNo">პირადი ნომერი</label>
                <input pInputText id="float-input-personalNo" type="text"
                       formControlName="personalNo">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-mobileNo">ტელეფონი</label>
                <input pInputText id="float-input-mobileNo" type="text"
                       formControlName="mobileNo">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-email">ელ. ფოსტა</label>
                <input pInputText id="float-input-email" type="text"
                       formControlName="email">
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="მომხმარებლის დამატება"
                (click)="addUser(null)"></button>

        <p-splitButton label="რედაქტირება" icon="pi pi-pencil" (onClick)="addUser(curUser)"
                       [model]="actionButtonItems"
                       [disabled]="!curUser"
                       styleClass="p-button-warning" [style]="{'margin-left': '5px'}"></p-splitButton>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="users.content"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="users.totalElements"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.size"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="სულ {totalRecords} ჩანაწერი"
         [(selection)]="curUser"
         dataKey="userId"
         [scrollable]="true" [style]="{width:'100%'}"
>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width: 3rem">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col width="140">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th style="text-align: center">როლი</th>
            <th style="text-align: center">მომხმარებელი</th>
            <th style="text-align: center">სახელი</th>
            <th style="text-align: center">გვარი</th>
            <th style="text-align: center">პირადი ნომერი</th>
            <th style="text-align: center">დაბადების თარიღი</th>
            <th style="text-align: center">მისამართი</th>
            <th style="text-align: center">პოზიცია</th>
            <th style="text-align: center">ტელეფონი</th>
            <th style="text-align: center">ელ. ფოსტა</th>
            <th width="140"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr [ngClass]="{'row-accessories': user.online === 1}">
            <td>
                <p-tableRadioButton [value]="user"></p-tableRadioButton>
            </td>
            <td style="text-align: center">{{user.roleName}}</td>
            <td style="text-align: center">{{user.userName}}</td>
            <td style="text-align: center">{{user.firstName}}</td>
            <td style="text-align: center">{{user.lastName}}</td>
            <td style="text-align: center">{{user.personalNo}}</td>
            <td style="text-align: center">{{user.birthDate | dateFormat}}</td>
            <td style="text-align: center">{{user.address}}</td>
            <td style="text-align: center">{{user.position}}</td>
            <td style="text-align: center">{{user.mobileNo}}</td>
            <td style="text-align: center; word-break:break-all;">{{user.email}}</td>
            <td style="text-align: center">
                <button pButton pRipple icon="pi pi-eye" (click)="openUser(user)"></button>
                <button pButton pRipple class="p-button-warning" icon="pi pi-pencil" style="margin-left: 3px;"
                        (click)="addUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="{{curUser?curUser.userName:' '}}" [(visible)]="displayUserModal" [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="userAddForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-userName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                როლი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-dropdown
                                    [options]="roles"
                                    placeholder="აირჩიეთ როლი"
                                    [showClear]="true"
                                    optionLabel="displayName"
                                    formControlName="role"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-userName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                მომხმარებლის სახელი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-userName" type="text" pInputText formControlName="userName">
                                <input type="hidden" pInputText formControlName="userId">
                            </div>
                        </div>
                        <div class="p-field p-grid" *ngIf="!curUser">
                            <label for="float-password" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                პაროლი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-password" type="text" pInputText formControlName="password">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-firstName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">სახელი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-firstName" type="text" pInputText formControlName="firstName">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-lastName" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">გვარი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-lastName" type="text" pInputText formControlName="lastName">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-personalNo" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">პირადი ნომერი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-personalNo" type="text" pInputText formControlName="personalNo">
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <label for="float-birthDate" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">დაბადების
                                თარიღი</label>
                            <div class="p-col-12 p-md-9">
                                <p-calendar
                                    appendTo="body"
                                    id="float-birthDate"
                                    formControlName="birthDate"
                                    [showIcon]="true"
                                    inputId="icon"></p-calendar>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-address" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">მისამართი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-address" type="text" pInputText formControlName="address">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-position" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">პოზიცია</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-position" type="text" pInputText formControlName="position">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-mobileNo" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">ტელეფონი</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-mobileNo" type="text" pInputText formControlName="mobileNo">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-email" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">ელ. ფოსტა</label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-email" type="text" pInputText formControlName="email">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-accountNumber" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                ანგარიშის ნომერი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-accountNumber" type="text" pInputText formControlName="accountNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="saveUser()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="პაროლის შეცვლა: {{curUser?curUser.userName:' '}}" [(visible)]="displayresetPasswordModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false">
    <p-blockUI [target]="pnl" [blocked]="blockedPanel3">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="resetPasswordForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="resetPassword" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                პაროლი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="resetPassword" type="text" pInputText formControlName="password">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="changeRepeatPassword" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                გაიმეორეთ პაროლი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="changeRepeatPassword" type="text" pInputText
                                       formControlName="repeatPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="resetPassword()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
