<div class="card">
    <h5>სესხის ნომერი: {{debt?.id}}</h5>
    <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel header="სესხის დეტალები">
            <div class="p-grid">
                <div class="p-md-6">
                    <div class="p-col-12 p-md-12">
                        <p-message severity="info"
                                   text="სესხის
{{debt && debt.assigneeDebtRequestDto && debt.assigneeDebtRequestDto.length>0 && debt.assigneeDebtRequestDto[0].assigneeTypeId==1?'დმინისტრაციაზე':''}}
{{debt && debt.assigneeDebtRequestDto && debt.assigneeDebtRequestDto.length>0 && debt.assigneeDebtRequestDto[0].assigneeTypeId==2?'იურისტზე':''}}
 გადაწერის მოთხოვნა გადაგზავნილია დასადასტურებლად"
                                   [style]="{'marginBottom': '5px', 'width': '100%', 'fontWeight': 'bold'}"
                                   *ngIf="debt && debt.assigneeDebtRequestDto
                           && debt.assigneeDebtRequestDto.length>0 && debt.assigneeDebtRequestDto[0].status.id===1"></p-message>
                    </div>

                    <div class="p-col-12 p-md-12">
                        <p-message severity="success" text="სესხი გადახდილია"
                                   [style]="{'marginBottom': '5px', 'width': '100%', 'fontWeight': 'bold'}"
                                   *ngIf="debt && debt.fullyPaid"></p-message>
                    </div>

                    <div class="p-col-12 p-md-12">
                        <p-message severity="info" text="სესხის განულების მოთხოვნა გადაგზავნილია დასადასტურებლად"
                                   [style]="{'marginBottom': '5px', 'width': '100%', 'fontWeight': 'bold'}"
                                   *ngIf="debt && debt.debtToConfirmPaidDto
                           && debt.debtToConfirmPaidDto.length>0 && debt.debtToConfirmPaidDto[0].confirmed===0"></p-message>
                    </div>

                    <div class="card">
                        <div class="p-fluid">
                            <form [formGroup]="debtForm">
                                <div class="p-field p-grid">
                                    <label for="debtDate" class="p-col-12 p-md-5">
                                        შექმნის თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="debtDate"
                                            id="debtDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"
                                        ></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="incomingDate" class="p-col-12 p-md-5">
                                        შემოსვლის თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="incomingDate"
                                            id="incomingDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-md-5">
                                        ხანდაზმულობის ვადა
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            [disabled]="true"
                                            formControlName="statuteOfLimitationDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="amount" class="p-col-12 p-md-5">
                                        თანხა
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-inputNumber
                                            id="amount"
                                            mode="decimal"
                                            [minFractionDigits]="2"
                                            [maxFractionDigits]="5"
                                            formControlName="amount">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="courtFeeAmount" class="p-col-12 p-md-5">
                                        სასამართლო ბაჟი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-inputNumber
                                            id="courtFeeAmount"
                                            mode="decimal"
                                            [minFractionDigits]="2"
                                            [maxFractionDigits]="5"
                                            formControlName="courtFeeAmount">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="fineAmount" class="p-col-12 p-md-5">
                                        ჯარიმა
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-inputNumber
                                            id="fineAmount"
                                            mode="decimal"
                                            [minFractionDigits]="2"
                                            [maxFractionDigits]="5"
                                            formControlName="fineAmount">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="amount" class="p-col-12 p-md-5">
                                        სესხის ტიპი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-dropdown
                                            [options]="complexityTypes"
                                            placeholder="სესხის ტიპი"
                                            [showClear]="true"
                                            optionLabel="nameEn"
                                            formControlName="complexityType"></p-dropdown>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="percent" class="p-col-12 p-md-5">
                                        პროცენტი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-inputNumber
                                            id="percent"
                                            [min]="0" [max]="100"
                                            suffix=" %"
                                            formControlName="percent">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="borrowerPerson" class="p-col-12 p-md-5">
                                        მსესხებელი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <div class="p-inputgroup">
                                            <input type="text" id="borrowerPerson" pInputText
                                                   formControlName="borrowerPerson">
                                            <input type="hidden" formControlName="borrowerPersonId">
                                            <span class="p-inputgroup-button">
                                            <p-button icon="pi pi-eye"
                                                      (click)="openPerson(debt.borrower)"></p-button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="loanPerson" class="p-col-12 p-md-5">
                                        გამსეხესხებელი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <div class="p-inputgroup">
                                            <input type="text" id="loanPerson" pInputText formControlName="loanPerson">
                                            <input type="hidden" formControlName="loanPersonId">
                                            <span class="p-inputgroup-button">
                                            <p-button icon="pi pi-eye"
                                                      (click)="openPerson(debt.loaner)"></p-button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label class="p-col-12 p-md-5">
                                        იურისტი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <div class="p-inputgroup">
                                            <input type="text" pInputText formControlName="lawyer">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="user" class="p-col-12 p-md-5">
                                        კრედიტ ოფიცერი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <div class="p-inputgroup">
                                            <input type="text" id="user" pInputText formControlName="user">
                                            <input type="hidden" formControlName="userId">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="expertAssigneeDate" class="p-col-12 p-md-5">
                                        გადაწერის თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="expertAssigneeDate"
                                            id="expertAssigneeDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastCommentDate" class="p-col-12 p-md-5">
                                        კომენტარის თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="lastCommentDate"
                                            id="lastCommentDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastPromiseDate" class="p-col-12 p-md-5">
                                        შეპირების თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="lastPromiseDate"
                                            id="lastPromiseDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        დაკავშირების თარიღი
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <p-calendar
                                            formControlName="lastNextContactDate"
                                            id="lastNextContactDate"
                                            dateFormat="dd-mm-yy"
                                            [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        მთლიანი თანხა (ჯარიმით და სას. ბაჟით)
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <b>{{debt?.debtTotalAmount}}</b>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        გადახდილი თანხა
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <b>{{debt?.paymentAmount}}</b>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        დარჩენილი თანხა
                                    </label>
                                    <div class="p-col-12 p-md-7">
                                        <b>{{debt?.leftToPayAmount}}</b>
                                    </div>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        უარს ამბობს გადახდაზე
                                    </label>
                                    <p-checkbox [(ngModel)]="refusesToPay"
                                                binary="true" inputId="binary" formControlName="refusesToPay"
                                                (onChange)="setRefusesToPay($event)"></p-checkbox>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        არ გამოდის კონტაქტზე
                                    </label>
                                    <p-checkbox [(ngModel)]="notInContact"
                                                binary="true" inputId="binary" formControlName="notInContact"
                                                (onChange)="setNotInContact($event)"></p-checkbox>
                                </div>
                                <div class="p-field p-grid">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        დამუშავებული
                                    </label>
                                    <p-checkbox [(ngModel)]="isProcessed"
                                                binary="true" inputId="binary" formControlName="isProcessed"
                                                (onChange)="setIsProcessed($event)"></p-checkbox>
                                </div>
                                <div class="p-field p-grid" *ngIf="hasRole(8)">
                                    <label for="lastNextContactDate" class="p-col-12 p-md-5">
                                        უჩანდეს კრედიტ ოფიცერს
                                    </label>
                                    <p-checkbox [(ngModel)]="cannSeeExpert"
                                                binary="true" inputId="binary" formControlName="cannSeeExpert"
                                                (onChange)="setCanSeeExpert($event)"></p-checkbox>
                                </div>
                            </form>
                        </div>
                    </div>

                    <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                            (click)="openUpdateDebtDebtModal()" label="შენახვა"
                            *ngIf="hasRight('ROLE_ვალის რედაქტირება')">
                    </button>
                </div>
                <div class="p-md-6">
                    <p-fieldset legend="ადმინისტრაციაზე გადაწერა"
                                *ngIf="enableMakeAssigneeAdministrationDecisionButton || enableRequestAssigneeDebtToAdministration">
                        <div class="p-col-12 p-md-12">
                            <p-message severity="info" [text]="this.debt.assigneeDebtRequestDto[0]?.comment"
                                       [style]="{'marginBottom': '5px', 'width': '100%', 'fontWeight': 'bold'}"
                                       *ngIf="enableMakeAssigneeAdministrationDecisionButton"></p-message>
                        </div>

                        <button pButton pRipple icon="pi pi-arrow-circle-left" class="p-button-warning"
                                style="margin: 3px;"
                                (click)="openRequestAssigneeDebtToAdministrationModal()"
                                label="ადმინისტრაციაზე გადაწერის მთოვნა"
                                *ngIf="enableRequestAssigneeDebtToAdministration"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-success" style="margin: 3px;"
                                (click)="makeAssigneeDecision(2)" label="ადმინისტრაციაზე გადაწერის დადასტურება"
                                *ngIf="enableMakeAssigneeAdministrationDecisionButton"></button>
                        <button pButton pRipple icon="pi pi-ban" class="p-button-danger" style="margin: 3px;"
                                (click)="makeAssigneeDecision(3)" label="ადმინისტრაციაზე გადაწერის უარყოფა"
                                *ngIf="enableMakeAssigneeAdministrationDecisionButton"></button>
                    </p-fieldset>

                    <p-fieldset legend="იურისტზე გადაწერა" [style]="{'marginTop': '5px'}"
                                *ngIf="enableMakeAssigneeLawyerDecisionButton || enableRequestAssigneeDebtToAdministration">
                        <div class="p-col-12 p-md-12">
                            <p-message severity="info" [text]="this.debt.assigneeDebtRequestDto[0]?.comment"
                                       [style]="{'marginBottom': '5px', 'width': '100%', 'fontWeight': 'bold'}"
                                       *ngIf="enableMakeAssigneeLawyerDecisionButton"></p-message>
                        </div>

                        <button pButton pRipple icon="pi pi-arrow-circle-left" class="p-button-warning"
                                style="margin: 3px;"
                                (click)="openRequestAssigneeDebtToLawyerModal()"
                                label="იურისტზე გადაწერის მოთხოვნა"
                                *ngIf="enableRequestAssigneeDebtToAdministration"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-success" style="margin: 3px;"
                                (click)="openSearchUserForAssigneeLawyer()" label="იურისტზე გადაწერის დადასტურება"
                                *ngIf="enableMakeAssigneeLawyerDecisionButton"></button>
                        <button pButton pRipple icon="pi pi-ban" class="p-button-danger" style="margin: 3px;"
                                (click)="makeAssigneeDecisionForLawyer(3, null)" label="იურისტზე გადაწერის უარყოფა"
                                *ngIf="enableMakeAssigneeLawyerDecisionButton"></button>
                    </p-fieldset>

                    <p-fieldset legend="ვალის განულება" [style]="{'marginTop': '5px'}"
                                *ngIf="enableDiscussDebtToConfirmFullyPaid || enableDiscussDebtToConfirmResult">
                        <button pButton pRipple icon="pi pi-check" class="p-button-success" style="margin: 3px;"
                                (click)="discussDebtToConfirmFullyPaid()" label="განულების მოთხოვნა"
                                *ngIf="enableDiscussDebtToConfirmFullyPaid"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-success" style="margin: 3px;"
                                (click)="discussDebtToConfirmResult(1)" label="განულების დადასტურება"
                                *ngIf="enableDiscussDebtToConfirmResult"></button>
                        <button pButton pRipple icon="pi pi-ban" class="p-button-danger" style="margin: 3px;"
                                (click)="discussDebtToConfirmResult(2)" label="განულების უარყოფა"
                                *ngIf="enableDiscussDebtToConfirmResult"></button>
                    </p-fieldset>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="კომენტარები">
            <app-debt-comments #commentsComponent></app-debt-comments>
        </p-tabPanel>
        <p-tabPanel header="ფაილები">
            <app-debt-files #debtFilesComponent></app-debt-files>
        </p-tabPanel>
        <p-tabPanel header="გრაფიკი">
            <app-debt-schedule #scheduleComponent></app-debt-schedule>
        </p-tabPanel>
        <p-tabPanel header="გადახდები">
            <app-debt-billings #debtBillingsComponent (onAddDebtBilling)="getDebt()"></app-debt-billings>
        </p-tabPanel>
        <p-tabPanel header="ყველა გრაფიკი">
            <app-debt-schedules #debtSchedulesComponent></app-debt-schedules>
        </p-tabPanel>
        <p-tabPanel header="ცვლილებების ისტორია">
            <app-debt-changes #debtChangesComponent></app-debt-changes>
        </p-tabPanel>
        <p-tabPanel header="RS ლინკები">
            <app-debt-rs-links #debtRsLinksComponent></app-debt-rs-links>
        </p-tabPanel>
        <p-tabPanel header="იურისტი" *ngIf="hasRight('ROLE_ვალის იურისტის გვერდის ნახვა')">
            <app-debt-lawyer #debtLawyerComponent></app-debt-lawyer>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog [header]="'კომენტარი'" [(visible)]="displayDebtChangeModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="changeStatusDialog" [blocked]="modalBlocked">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #changeStatusDialog [showHeader]="false">
        <div class="card">
            <div class="p-fluid p-field p-grid">
                <div class="p-field p-col-12">
                    <label for="form-status-comment">
                        კომენტარი
                    </label>
                    <textarea
                        pInputTextarea
                        rows="5"
                        id="form-status-comment"
                        [(ngModel)]="updateDebtComment"></textarea>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="updateDebtDebt()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog [header]="'ადმინისტრაციაზე გადაწერის მოთხოვნა'" [(visible)]="displayRequestAssigneeDebtToAdministrationModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="requestAssigneeDebtToAdministrationPanel" [blocked]="modalBlocked">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #requestAssigneeDebtToAdministrationPanel [showHeader]="false">
        <div class="card">
            <div class="p-fluid p-field p-grid">
                <div class="p-field p-col-12">
                    <label>
                        კომენტარი
                    </label>
                    <textarea
                        pInputTextarea
                        rows="5"
                        [(ngModel)]="requestAssigneeDebtToAdministrationDebtComment"></textarea>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="requestAssigneeDebt(1, requestAssigneeDebtToAdministrationDebtComment)"
                    label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog [header]="'იურისტზე გადაწერის მოთხოვნა'" [(visible)]="displayRequestAssigneeDebtToLawyerModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="requestAssigneeDebtToLawyerPanel" [blocked]="modalBlocked">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #requestAssigneeDebtToLawyerPanel [showHeader]="false">
        <div class="card">
            <div class="p-fluid p-field p-grid">
                <div class="p-field p-col-12">
                    <label>
                        კომენტარი
                    </label>
                    <textarea
                        pInputTextarea
                        rows="5"
                        [(ngModel)]="requestAssigneeDebtToLawyerDebtComment"></textarea>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="requestAssigneeDebt(2, requestAssigneeDebtToLawyerDebtComment)" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUserAssigneeLawyer" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            [roleId]="8"
            (onSelectUser)="selectUserAsigneeLawyer($event)"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="debtChangeConfirm"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="makeAssigneeDecisionConfirm"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
