<h3 class="first">გადახდები</h3>
<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label>გადახდის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="paymentStartDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="paymentEndDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="float-input-payByCheck">ჩეკით გადახდა</label>
                <p-dropdown
                    id="float-input-payByCheck"
                    [options]="payByCheckOptions"
                    placeholder="-ყველა-"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="payByCheck"></p-dropdown>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="searchForm.reset()"></button>
    </div>
</div>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="გადახდის დამატება"
                (click)="addNewBilling(null)"
                *ngIf="hasRight('ROLE_ვალის გარეშე გადახდის დამატება/რედაქტირება')"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="billings.content"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="billings.totalElements"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.size"
         [showCurrentPageReport]="true"
         [currentPageReportTemplate]='"სულ - თანხა: "+(billings.totalElements?billings.totalElements:0)+", ჩანაწერი: {totalRecords} "'
>
    <ng-template pTemplate="header">
        <tr>
            <th width="100">რაოდენობა</th>
            <th width="160">გადახდის თარიღი</th>
            <th width="140">ჩეკით გადახდა</th>
            <th>ფაილი</th>
            <th>კომენტარი</th>
            <th>მომხმარებელი</th>
            <th width="230"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-billing>
        <tr>
            <td style="vertical-align: top;">{{billing.amount}}</td>
            <td style="vertical-align: top;">{{billing.paymentDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{billing.payByCheck == 1 ? 'კი' : 'არა'}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-download" class="p-button-info" style="margin-right: 3px;"
                        (click)="downloadFile(billing.file)" label="ჩამოტვირთვა"
                        *ngIf="billing.file"></button>
            </td>
            <td style="vertical-align: top;">{{billing.comment}}</td>
            <td style="vertical-align: top;">{{billing?.userDto?.firstName + ' ' + billing?.userDto?.lastName}}</td>
            <td>
                <p-button icon="pi pi-link" (click)="openDebtsSearchModal(billing)" label="ვალზე მიბმა"
                          *ngIf="hasRight('ROLE_გადახდის ვალზე მიბმა')"></p-button>
                <button pButton pRipple class="p-button-warning" icon="pi pi-pencil" style="margin-left: 3px;"
                        (click)="addNewBilling(billing)"
                        *ngIf="hasRight('ROLE_ვალის გარეშე გადახდის დამატება/რედაქტირება')"></button>
                <button pButton pRipple class="p-button-danger" icon="pi pi-trash" style="margin-left: 3px;"
                        (click)="removeBillingWithoutDebt(billing)"
                        *ngIf="hasRight('ROLE_ვალის გარეშე გადახდის წაშლა')"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="გადახდის დამატება/რედაქტირება" [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          (onHide)="onModalClose()"
          (close)="onModalClose()"
          [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
                           'max-height': '80vh','min-height':'250px'}"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-amount" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                თანხა
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-inputNumber
                                    id="float-amount"
                                    mode="decimal"
                                    [minFractionDigits]="2"
                                    [maxFractionDigits]="5"
                                    [showButtons]="true"
                                    [min]="0"
                                    (blur)="checkValidity(addForm);"
                                    formControlName="amount"></p-inputNumber>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="paymentDate" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                გადახდის თარიღი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-calendar
                                    formControlName="paymentDate"
                                    id="paymentDate"
                                    dateFormat="dd-mm-yy"
                                    [showIcon]="true"
                                    [maxDate]="now"
                                    (blur)="checkValidity(addForm);"></p-calendar>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="payByCheck" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                ჩეკით გადახდა
                            </label>
                            <div class="p-col-12 p-md-8">
                                <p-checkbox
                                    id="payByCheck"
                                    binary="true"
                                    inputId="binary"
                                    formControlName="payByCheck">
                                </p-checkbox>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="form-comment" class="p-col-12 p-mb-4 p-md-4 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-8">
                                <textarea
                                    pInputTextarea
                                    rows="5"
                                    id="form-comment"
                                    formControlName="comment"></textarea>
                            </div>
                        </div>
                        <p-fileUpload
                            #fileUploadButton
                            chooseLabel="ატვირთვა"
                            name="file"
                            customUpload="true"
                            [auto]="true"
                            [disabled]="uploadedFiles.length>0"
                            (uploadHandler)="uploadFile($event, fileUploadButton)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length>0">
                                    <li *ngFor="let file of uploadedFiles">
                                        {{file.name}}
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                                                style="margin-left: 3px; width: 40px;"
                                                (click)="removeDebtBillingFile(file)"></button>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="addDebtBilling()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-dialog header="პიროვნების/ორგანიზაციის ძებნა" [(visible)]="displayDebtSearchModal" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-debts-search-simple
            (onSelectDebt)="selectDebt($event)"></app-debts-search-simple>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
