<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="კონტაქტის დამატება"
                (click)="addNewContact(null)"
                *ngIf="hasRight('ROLE_პიროვნების საკონტაქტოს დამატება')"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="personContacts"
    [lazy]="true"
    [totalRecords]="personContacts?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>კონტაქტი</th>
            <th>კომენტარი</th>
            <th>სტატუსი</th>
            <th width="140"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr>
            <td>{{contact.contactInfo}}</td>
            <td>{{contact.comment}}</td>
            <td>{{contact.contactStatus?.name}}</td>
            <td>
                <!--<button pButton pRipple icon="pi pi-eye" (click)="addNewContact(contact)"></button>-->
                <button pButton pRipple class="p-button-warning" icon="pi pi-pencil" style="margin-left: 3px;"
                        (click)="addNewContact(contact)"
                        *ngIf="hasRight('ROLE_პიროვნების საკონტაქტოს რედაქტირება')"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                        (click)="removePersonContact(contact)"
                        *ngIf="hasRight('ROLE_პიროვნების საკონტაქტოს წაშლა')"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header=" " [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-contactInfo" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                საკონტაქტო
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-contactInfo" type="text" pInputText
                                       formControlName="contactInfo"
                                       (blur)="checkValidity(addForm)">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input id="float-comment" type="text" pInputText
                                       formControlName="comment">
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-contactInfo" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                სტატუსი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-dropdown
                                    [options]="contactStatus"
                                    placeholder="სტატუსი"
                                    [showClear]="true"
                                    optionLabel="name"
                                    formControlName="contactStatus"
                                    (blur)="checkValidity(addForm)"></p-dropdown>
                            </div>
                        </div>
                        <input type="hidden" formControlName="id">
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
