<div *ngFor="let status of statuses" class="p-field-checkbox">
    <p-radioButton name="statuses" [value]="status" [(ngModel)]="selectedStatus"
                   [disabled]="status.id === 'R'"
    (onClick)="addDebtLawyerStatus(status)"></p-radioButton>
    <label [for]="status.id">{{status.name}}</label>
</div>
