<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="კომენტარის დამატება"
                (click)="addNewComment(null)"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="debtComments"
    [lazy]="true"
    [totalRecords]="debtComments?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th width="50">#</th>
            <th width="170">კომენტარის თარიღი</th>
            <th width="170">შეპირების თარიღი</th>
            <th width="190">დაკავშირების თარიღი</th>
            <th>კომენტარი</th>
            <th width="150">მომხმარებელი</th>
            <th width="100"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comment>
        <tr [ngClass]="{'row-danger': comment?.userDto?.userId !== debt?.expert?.id}">
            <td style="vertical-align: top;">{{comment.id}}</td>
            <td style="vertical-align: top;">
                {{comment.commentDate | dateTimeFormat}}
                <br>
                <span style="color: green; font-weight: bold">
                    {{comment.commentUpdateDate | dateTimeFormat}}
                </span>
            </td>
            <td style="vertical-align: top;">{{comment.promiseDate | dateFormat}}</td>
            <td style="vertical-align: top;">{{comment.nextContactDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;">{{comment.comment}}</td>
            <td style="vertical-align: top;">
                {{comment.userDto ? comment.userDto.firstName + ' ' + comment.userDto.lastName : ''}}
                <br>
                <span style="color: green; font-weight: bold">
                    {{comment.updateUserDto ? '(' + comment.updateUserDto.firstName + ' ' + comment.updateUserDto.lastName + ')' : ''}}
                </span>
            </td>
            <td style="vertical-align: top;">
                <button pButton pRipple class="p-button-warning" icon="pi pi-pencil" style="margin-left: 3px;"
                        (click)="addNewComment(comment)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                        (click)="removeDebtComment(comment)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [header]="selectedComment ? 'კომენტარის რედაქტირება: ' + selectedComment.id : 'კომენტარის დამატება'"
          [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          [contentStyle]="{'overflow': 'visible'}"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="promiseDate" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                შეპირების თარიღი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-calendar
                                    formControlName="promiseDate"
                                    id="promiseDate"
                                    dateFormat="dd-mm-yy"
                                    [showIcon]="true"
                                    [minDate]="promiseDateMin"
                                    [maxDate]="promiseDateMax"></p-calendar>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <label for="nextContactDate" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                შემდეგი დაკავშირების თარიღი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <p-calendar
                                    formControlName="nextContactDate"
                                    id="nextContactDate"
                                    dateFormat="dd-mm-yy"
                                    [showIcon]="true"
                                    [minDate]="nextContactMin"
                                    [maxDate]="nextContactMax"
                                    (blur)="checkValidity(addForm);"></p-calendar>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <textarea pInputTextarea
                                          id="float-comment"
                                          type="text"
                                          formControlName="comment"
                                          [rows]="5"
                                          (blur)="checkValidity(addForm);"></textarea>
                            </div>
                        </div>

                        <input type="hidden" formControlName="id">
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="removeDebtComment"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
