<form [formGroup]="searchForm" (ngSubmit)="search(null, null)" style="width: 100%; margin: 5px">
    <div class="card">
        <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12 p-md-4">
                <label>ვალის N</label>
                <p-inputNumber
                    placeholder="#"
                    mode="decimal"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    formControlName="debtId">
                </p-inputNumber>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>კრედიტ ოფიცერი</label>
                <div class="p-inputgroup">
                    <input type="text" id="expert" pInputText formControlName="expert" [readOnly]="true">
                    <input type="hidden" formControlName="expertId">
                    <span class="p-inputgroup-button">
                        <p-button label="ძებნა" icon="pi pi-search"
                                  (click)="openSearchUserForSearch()"></p-button>
                    </span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label>შექმნის თარიღი</label>
                <div class="p-grid" style="margin-top: 1px;">
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="startDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <p-calendar
                            formControlName="endDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="false"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: center">
        <button pButton type="button" icon="pi pi-search" class="ui-button-info"
                label="ძებნა"
                (click)="search(null, null)"></button>
        <button pButton type="button" class="ui-button-danger"
                label="გასუფთავება"
                style="margin-left: 3px;"
                (click)="resetSearchForm()"></button>
    </div>
</div>

<p-table #table
         styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
         [responsive]="true"
         [value]="debts.content"
         [lazy]="true"
         (onLazyLoad)="search($event, null)"
         [lazyLoadOnInit]="false"
         [totalRecords]="debts.totalElements"
         [customSort]="true"
         [paginator]="true"
         [rows]="searchRequest.size"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="სულ {totalRecords} ჩანაწერი"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 30px">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center" width="50">N</th>
            <th style="text-align: center" width="70">თანხა</th>
            <th style="text-align: center" width="150">გადახდის თარიღი</th>
            <th style="text-align: center">გადახდის გამტარებელი</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-debt>
        <tr>
            <td>
                <p-tableCheckbox [value]="debt"></p-tableCheckbox>
            </td>
            <td style="text-align: center; word-break:break-all;">
                <a href="javascript:void(0)" (click)="openDebt(debt)">
                    {{debt.id}}
                </a>
            </td>
            <td style="text-align: center; word-break:break-all;">{{debt.amount}}</td>
            <td style="text-align: center; word-break:break-all;">{{debt.debtBilling.paymentDate | dateTimeFormat}}</td>
            <td style="text-align: center">
                {{debt.debtBilling.userDto ? debt.debtBilling.userDto.firstName + ' ' + debt.debtBilling.userDto.lastName : ''}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="მომხმარებლის ძებნა" [(visible)]="displaySearchUserForSearch" [modal]="true"
          [style]="{width: '95%', height: '95%'}"
          [contentStyle]="{height: '100%'}"
          [draggable]="false" [resizable]="false">
    <p-panel #pnl [showHeader]="false">
        <app-search-users-form
            (onSelectUser)="selectUserForSearch($event)" [roleId]="1"></app-search-users-form>
        <ng-template pTemplate="footer">
            <!--            <p-button icon="pi pi-save" (click)="savePerson()" label="შენახვა"></p-button>-->
        </ng-template>
    </p-panel>
</p-dialog>
