<div class="card">
    <h5>როლები</h5>
    <div class="p-grid">
        <div class="p-col-6">
            <p-table [value]="roles" selectionMode="single" [(selection)]="selectedRole" dataKey="id"
                     (onRowSelect)="onRoleSelect($event)" (onRowUnselect)="onRoleUnselect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>როლის დასახელება</th>
                    </tr>
                </ng-template>l
                <ng-template pTemplate="body" let-role>
                    <tr [pSelectableRow]="role">
                        <td>{{role.displayName}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-col-6">
            <p-table [value]="privileges" dataKey="id"
                     [(selection)]="selectedPrivileges"
                     (onRowSelect)="onPrivilegeSelect($event)" (onRowUnselect)="onPrivilegeUnselect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox [hidden]="true"></p-tableHeaderCheckbox>
                        </th>
                        <th>უფლების დასახელება</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privilege>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="privilege"></p-tableCheckbox>
                        </td>
                        <td>{{privilege.displayName}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
