<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="ფაილის დამატება"
                (click)="addNewFile(null)"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="files"
    [lazy]="true"
    [totalRecords]="files?.length">
    <ng-template pTemplate="header">
        <tr>
            <th width="170">ატვირთვის თარიღი</th>
            <th>ფაილის სახელი</th>
            <th>კომენტარი</th>
            <th width="160">ფაილი</th>
            <th width="70"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
        <tr>
            <td style="vertical-align: top;">{{file.insertDate | dateTimeFormat}}</td>
            <td style="vertical-align: top;overflow-wrap: anywhere;">{{file.name}}</td>
            <td style="vertical-align: top;overflow-wrap: anywhere;">{{file.comment}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-download" class="p-button-info" style="margin-right: 3px;"
                        (click)="downloadFile(file)" label="ჩამოტვირთვა"
                        *ngIf="file"></button>
            </td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                        (click)="removeDebtFile(file.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="ფაილის დამატება/რედაქტირება" [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          [contentStyle]="{'overflow': 'visible'}"
          (onHide)="onModalClose()"
          (close)="onModalClose()"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="form-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <input type="text" id="form-comment" pInputText formControlName="comment">
                            </div>
                        </div>
                        <p-fileUpload
                            #fileUploadButton
                            chooseLabel="ატვირთვა"
                            name="file"
                            customUpload="true"
                            [auto]="true"
                            [disabled]="uploadedFiles.length>0"
                            (uploadHandler)="uploadFile($event, fileUploadButton)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length>0">
                                    <li *ngFor="let file of uploadedFiles">
                                        {{file.name}}
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                                                style="margin-left: 3px; width: 40px;"
                                                (click)="removeDebtFileFile(file)"></button>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-save" class="p-button-info" style="margin-right: 3px;"
                    (click)="addDebtFile()" label="შენახვა"></button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="removeDebtFile"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
