<div class="ui-g" style="margin: 5px">
    <div class="ui-g-12" style="text-align: left">
        <button pButton type="button" icon="pi pi-plus-circle" class="ui-button-info"
                label="ლინკის დამატება"
                *ngIf="hasRight('ROLE_ვალის RS ლინკის დამატება')"
                (click)="addNewRsLink(null)"></button>
    </div>
</div>

<p-table
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
    [responsive]="true"
    [value]="debtRSLinks"
    [lazy]="true"
    [totalRecords]="debtRSLinks?.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="სულ {totalRecords} ჩანაწერი">
    <ng-template pTemplate="header">
        <tr>
            <th>ლინკი</th>
            <th>კომენტარი</th>
            <th width="90"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rsLink>
        <tr>
            <td style="vertical-align: top;"><a href="{{rsLink.link}}" target="_blank">{{rsLink.link}}</a></td>
            <td style="vertical-align: top;">{{rsLink.comment}}</td>
            <td style="vertical-align: top;">
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" style="margin-left: 3px;"
                        *ngIf="hasRight('ROLE_ვალის RS ლინკის წაშლა')"
                        (click)="removeDebtRsLink(rsLink.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="ლინკის დამატება/რედაქტირება" [(visible)]="displayModal"
          [modal]="true"
          [style]="{width: '600px'}"
          [draggable]="false" [resizable]="false"
          [contentStyle]="{'overflow': 'visible'}"
>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel #pnl [showHeader]="false">
        <form [formGroup]="addForm" style="width: 100%">
            <div class="p-col-12 p-md-12">
                <div class="card">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="float-link" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                ლინკი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <textarea pInputTextarea
                                          id="float-link"
                                          type="text"
                                          formControlName="link"
                                          [rows]="5"
                                          (blur)="checkValidity(addForm);"></textarea>
                            </div>
                        </div>
                        <div class="p-field p-grid">
                            <label for="float-comment" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">
                                კომენტარი
                            </label>
                            <div class="p-col-12 p-md-9">
                                <textarea pInputTextarea
                                          id="float-comment"
                                          type="text"
                                          formControlName="comment"
                                          [rows]="5"
                                          (blur)="checkValidity(addForm);"></textarea>
                            </div>
                        </div>

                        <input type="hidden" formControlName="id">
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="save()" label="შენახვა"></p-button>
        </ng-template>
    </p-panel>
</p-dialog>

<p-confirmDialog [style]="{width: '400px'}" [baseZIndex]="10000" key="removeDebtRsLink"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
